@model Flags.Models.LearnModel
@{
  ViewData["Title"] = "Learn";
  var counter = 0;
  Flag flag = null;
}
<h1>Learn (@Model.Flags.Count)</h1>

@(await Html.PartialAsync("_FlagList", new FlagListVM
{
  ShowNames = true,
  Flags = Model.Flags,
  Cols = 5
}))