/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


svg{
    cursor: pointer;
}

a {
    text-decoration: none;
}

.banner {
    color: black;
    font-size: x-large;
    margin-left: 4px;
}

.banner span {
    margin-right: 10px;
}

#FlagName {
    font-weight: bold;
}

#findFlagInfoMouse {
    font-weight: bold;
    border-color: black;
    border-width: thin;
    border-style: solid;
    padding: 5px;
    background-color: antiquewhite;
    font-size: 20px;
    position: absolute;
    width: auto;
    z-index: 100;
}

.endResultBox {
    width: 300px;
    height: 200px;
    z-index: 100;
    position: absolute;
    background-color: antiquewhite;
    border-color: black;
    border-width: medium;
    border-radius: 5px;
    border-style: solid;
    margin: auto;
    padding: 10px;
    top: 30%;
    left: 30%;
    text-align: center;
}

#endAccuracy {
    font-weight: bold;
    font-size: 35px;
}

#endTime {
    font-weight: bold;
    font-size: 25px;
}

.modal-content {
    align-content: center;
    background-color: antiquewhite;
    border-color: black;
    border-width: medium;
    border-radius: 5px;
    border-style: solid;
}

.flagCardImg {
    border-color: black;
    border-width: thin;
    border-style: solid;
}

#Score{
    margin-left: 30px;
}