
@{
  ViewData["Title"] = "ViolinNotes";
}

<script src="~/js/Sketches/Music/Notes.js"></script>
<script src="~/js/Sketches/Music/ViolinNotesSketch.js"></script>

<h1>ViolinNotes</h1>

<div id="ViolinNotesContainer">

</div>

